@page "/list"
@inherits ListBase

@if (SelectedProducts == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table">
        <thead>

            <tr>
                <th scope="col">RefNumber <span class="oi oi-sort-ascending"></span></th>
                <th scope="col">Name <span class="oi oi-sort-ascending"></span></th>
                <th scope="col">CretaedAt <span class="oi oi-sort-ascending"></span></th>
                <th scope="col">Description <span class="oi oi-sort-ascending"></span></th>
                <th scope="col">AssemblyNr <span class="oi oi-sort-ascending"></span></th>
                <th scope="col">Category <span class="oi oi-sort-ascending"></span></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var product in SelectedProducts)
            {
                <tr>
                    <th scope="row">@product.RefNumber</th>
                    <td>@product.Name</td>
                    <td>@product.CretaedAt</td>
                    <td>@product.Description</td>
                    <td>@product.AssemblyNr</td>
                    <td>@product.Category.CategoryName</td>
                    <td> <a href="@($"productdetails/{product.Id}")">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @for (int i = 0; i < Products.Count; i+=4)
        {
           
            <button class="btn btn-sm btn-outline-primary m-2" type="button" @onclick="e=>Navigate(i)">@index</button> <span>@i</span>
            index++;
        }


    </div>
}

@code {
    
}
